.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table {
  margin: 50px 0 0 0;
  text-align: left;
}

.home, .formContainer {
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.lorem {
  margin: 50px 0;
}
.intro {
  font-size: 1.2em;
  font-weight: 600;
}
.form {
  text-align: left;
  margin-bottom: 50px;
}